<h1 class="h1">
    All Data
</h1>
<div class="table-main">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#ID</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Gender</th>
            <th scope="col">Occupation</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
            <th scope="col">View</th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let record of user">
            <th scope="row">{{record.id}}</th>
            <td>{{record.name}}</td>
            <td>{{record.address}}</td>
            <td>{{record.gender}}</td>
            <td>{{record.occupation}}</td>
            <td>
                <button class="btn btn-success" routerLink="/Update/{{record.id}}">
                    Edit
                </button>
            </td>
            <td>
                <button class="btn btn-danger" (click)="deleteThisUser(record.id)">
                    Delete
                </button>
            </td>
            <td>
                <button class="btn btn-primary" routerLink="/View/{{record.id}}">
                    <i class="bi bi-eye-fill"></i>
                </button>
            </td>
          </tr>
        </tbody>
      </table>
</div>

<button routerLink="/Add" class="btn btn-primary add-new-button">
    <i class="bi bi-plus"></i>
</button>